<% layout("/layouts/boilerplate") %>
<div class="row">
    <div class="col-8 offset-2" >
        <br><br>
        <h3>Create a New Listing</h3>
        <form method="POST" action="/listings">
            <div>
                <label for="title" class="form-label">Title</label>
                <input name="listing[title]" placeholder="Add a catchy title" type="text"  class="form-control">
            </div>
            <br><br>
            <div>
                <label for="description" class="form-label">Description</label>
                <textarea name="listing[description]" placeholder="enter description" class="form-control"></textarea>
            </div>
            <br><br>
            <div>
                <label for="image" class="form-label">Image</label>
                <input name="listing[image]" placeholder="enter image URL/Link" type="text" class="form-control">
            </div>
            <br><br>

            <div class="row">
                <div class="mb-3 col-md-4">
                    <label for="price" class="form-label">Price</label>
                    <input name="listing[price]" placeholder="eg. 1,199" type="number" class="form-control">
                </div>
                <br><br>
                <div class="mb-3 col-md-8">
                    <label for="location" class="form-label">Location</label>
                    <input name="listing[location]" placeholder="eg. Jaipur, Rajasthan" type="text" class="form-control">
                </div>
            </div>
            
            <br><br>
            <div>
                <label for="country" class="form-label">Country</label>
                <input name="listing[country]" placeholder="eg. India" type="text" class="form-control">
            </div>
            <br><br>
            <button class="btn btn-dark add-btn">Add</button>
            <br><br><br>
        </form>
    </div>
</div>

